.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Home-content {
  flex: 1;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
}

.Home-chat-replies {
  padding: 20px 0px 15px 45px;
}

.Home-cta-panel {
  display: flex;
}

.Home-cta-panel img {
  width: 80px;
  height: 80px;
  margin-top: .8rem;
  margin-left: -10px;
  display: block;
}

.Home-cta-panel-body {
  padding-left: 10px;
  flex: 1;
}

.Home-cta-panel-body h3 {
  font-size: 19px;
  margin-bottom: 0;
  color: #39CD5A;
  margin-top:8px;
}

.Home-cta-panel-body h3:after {
    content: '';
    display: inline-block;
    margin-right: 10px;
    border: solid #39CD5A;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(-45deg) translateY(-2px);
    transition: all ease-in .2s;
    margin-left: 8px;
}

.Home-cta-panel-body h3 a {
  display:none;
}

.Home-cta-panel-body span {
  font-size: 14px;
  color: #4E5973;

}

.RecommendedProduct {
  background: white;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 1rem;
}

.RecommendedProduct img {
  height: 120px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.RecommendedProduct-card {
  display: flex;
}

.RecommendedProduct-content {
  padding: 20px;
}

.RecommendedProduct-text-secondary {
}

.RecommendedProduct-button-icon {
  float: right;
}
