.ChatMessage {
  display: flex;
}

.ChatMessage-avatar {
  padding-right: 15px;
  margin-left: -5px;
}

.ChatMessage-avatar img {
  height: 35px;
  width: 35px;
}

.ChatMessage .panel-blody {
	font-weight: 400;
	color: #4E5973;
}