.ChatMessage {
    display: flex;
    padding: 10px;
    padding-right: 25px;
}

.ChatMessage-avatar {
    padding: 10px;
    padding-right: 15px;
}

.ChatMessage-avatar img {
    height: 50px;
    width: 50px;
}
